@import url(../libs/slick/slick-theme.css);
@import url(../libs/slick/slick.css);
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot");
  src: url("../fonts/fontello/fontello.eot") format("embedded-opentype"), url("../fonts/fontello/fontello.woff") format("woff"), url("../fonts/fontello/fontello.ttf") format("truetype"), url("../fonts/fontello/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GretaLight';
  src: url("../fonts/Greta_Display_Pro/GreDisNarProLight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Greta';
  src: url("../fonts/Greta_Display_Pro/GretaDisplayProRegular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'graphikReg';
  src: url("../fonts/Graphik/GraphikLCG-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'graphikMed';
  src: url("../fonts/Graphik/GraphikLCG-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #fff;
}

i {
  font-family: "fontello", sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold {
  font-weight: bold;
}

.red {
  color: #f72a38;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

button {
  background: none;
  outline: none;
  border: none;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}

body {
  font-size: 17px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "GretaLight";
  font-weight: normal;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #1e1e1e;
}

body input, body textarea {
  border: #666 1px solid;
  outline: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}

body input:required:valid, body textarea:required:valid {
  border-color: green;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.max {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.overflow {
  overflow: hidden !important;
}

.img_responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img_responsive.img-width {
  width: 100%;
}

.slash {
  display: none;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix {
  clear: both;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.text-center {
  text-align: center;
}

b, strong {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.main_wrapper {
  margin-left: auto;
  margin-right: auto;
}

.main_linlk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  color: #b27a4a;
  font-size: 10px;
  text-align: center;
  width: 180px;
  height: 66px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main_linlk:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}

.proces_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.proces_inner .proces_left, .proces_inner .proces_right {
  width: 50%;
}

.proces_inner .proces_left {
  position: relative;
  color: #fff;
  text-align: center;
}

.proces_inner .proces_left_text {
  position: absolute;
  width: 56%;
  top: -webkit-calc(50% - 100px);
  top: calc(50% - 100px);
  left: 24%;
}

.proces_inner .proces_left_text .main_linlk {
  width: 230px;
}

.proces_inner .proces_left_text p {
  line-height: 1.76;
  margin-bottom: 60px;
  position: relative;
  letter-spacing: 0.6px;
}

.proces_inner .proces_left_text p:before {
  width: 30px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: -webkit-calc(50% - 15px);
  left: calc(50% - 15px);
  top: -30px;
  content: '';
}

.proces_inner .proces_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proces_inner .proces_video {
  position: relative;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.proces_inner .proces_video .vatch_video {
  font-family: "graphikMed", sans-serif;
  color: #1e1e1e;
  font-size: 12px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: relative;
}

.proces_inner .proces_video .vatch_video:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.2);
  content: '';
}

.proces_inner .proces_video .fancy {
  position: absolute;
  top: -webkit-calc(50% - 40px);
  top: calc(50% - 40px);
  left: -webkit-calc(50% - 40px);
  left: calc(50% - 40px);
}

.proces_inner .proces_video .fancy:hover {
  cursor: pointer;
}

.galery_inner {
  letter-spacing: 0.6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.galery_inner .galery_title_text {
  position: absolute;
  top: 50%;
  left: -webkit-calc(50% - 30px);
  left: calc(50% - 30px);
  font-size: 18px;
  color: #fff;
}

.galery_item_title {
  margin-bottom: 40px;
  font-size: 28px;
  color: #fff;
}

.galery_item {
  width: 50%;
  position: relative;
}

.galery_item .galery_item_text {
  position: absolute;
  top: -webkit-calc(50% - 75px);
  top: calc(50% - 75px);
  left: -webkit-calc(50% - 100px);
  left: calc(50% - 100px);
}

.front_slider_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.front_slider_inner .counter_slider {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}

.front_slider_inner .front_slides {
  padding-top: 100px;
  position: relative;
}

.front_slider_inner .front_slides_control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.front_slider_inner .front_slides_control > div {
  margin: 0 10px;
}

.front_slider_inner .front_slides_control > div:hover {
  cursor: pointer;
}

.front_slider_inner .slider {
  width: 66%;
  margin-left: 17%;
  text-align: center;
  position: relative;
}

.front_slider_inner .slider:before {
  width: 30px;
  height: 1px;
  background-color: #1e1e1e;
  position: absolute;
  left: -webkit-calc(50% - 15px);
  left: calc(50% - 15px);
  top: -20px;
  content: '';
}

.front_slider_inner .slider .slider_item_title {
  font-size: 26px;
  margin-bottom: 30px;
}

.front_slider_inner .front_slider_inner_left {
  position: relative;
  height: 100%;
}

.front_slider_inner .front_slider_inner_left, .front_slider_inner .front_slider_img {
  width: 50%;
}

.history {
  background-color: #1e1e1e;
}

.history .history_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.history .history_img, .history .history_text {
  width: 50%;
}

.history .history_name {
  width: 220px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.history .history_name img {
  height: 50px;
}

.history .history_text {
  text-align: center;
  padding: 7%;
  padding-bottom: 20px;
}

.history .history_text p {
  opacity: .6;
  margin-bottom: 30px;
}

.partners_inner {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 150px;
}

.partners_inner .partners_item_scale {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}

.partners_inner .partners_title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 70px;
}

.partners_inner .partners_block {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners_inner .partners_block .partners_item {
  width: 15%;
}

footer {
  color: #fff;
  background-color: #181818;
  padding: 100px 90px 50px 90px;
}

footer .foter_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer .foter_block {
  width: 190px;
}

footer .foter_block_title {
  font-family: "graphikMed", sans-serif;
}

footer .foter_block_adres {
  width: 150px;
}

@media only screen and (max-width: 1400px) {
  .production .production_content_left {
    max-height: 100%;
  }
  .barista_content .barista_padding {
    padding-left: 230px;
    padding-right: 85px;
  }
  .barista footer, .sales footer {
    padding-left: 170px;
    padding-right: 85px;
  }
  .sales_content .sales_content_items {
    padding-left: 230px;
    padding-right: 85px;
  }
  .barista_content .barista_machines_inside .barista_machines_item_img {
    min-height: 360px;
    max-height: 400px;
  }
  .franch_1_inside {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .main_wrapper {
    max-width: 940px;
  }
  .main_nav_logo .logo {
    width: 80px;
    margin-right: 25px;
  }
  .main_nav_logo ul li a {
    margin: 0 5px;
    font-size: 14px;
  }
  .main_nav_logo ul li:first-child a {
    margin-right: 30px;
  }
  .top_block_wp .top_block_1 {
    height: 500px;
  }
  .top_block_wp .top_block_2 {
    height: 245px;
  }
  .top_block_wp .top_block_2 .top_block_1_img, .top_block_wp .top_block_2 .top_block_text {
    width: 50%;
  }
  .top_block_wp .top_block_second .top_block_lef .top_block_2 {
    height: 500px;
  }
  .search .search_inp {
    width: 420px;
  }
  .zurnal_main .zurnal_item_hover {
    margin: 10px;
    height: -webkit-calc(100% - 20px);
    height: calc(100% - 20px);
  }
  .zurnal_main .zurnal_item {
    min-height: 480px;
    padding: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .hidden_992 {
    display: none;
  }
  .main_wrapper {
    max-width: 740px;
  }
  .search .search_inp {
    width: 590px;
  }
  .front_page .header_content .read {
    margin-top: 20px;
  }
  .front_page .header_content .header_content_text {
    margin-left: 20px;
  }
  .front_page .header_content .header_content_text_inner {
    width: 200px;
  }
  .front_page .header_content .header_content_main_text {
    top: -webkit-calc(50% - 120px);
    top: calc(50% - 120px);
    width: 500px;
  }
  .front_page .header_content .header_content_main_text p {
    padding-left: 7%;
    width: 86%;
  }
  .front_page .header_content .header_content_main_text h1 {
    font-size: 38px;
    margin-bottom: 0;
  }
  .top_block_wp .top_block_lef {
    width: 35%;
  }
  .top_block_wp .top_block_right {
    width: 65%;
  }
  .top_block_wp .top_block_text p {
    line-height: 1.2;
  }
  .news_block_item {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
  }
  .news_block_item .news_block_img {
    width: 90px;
    height: 90px;
    margin-right: 15px;
  }
  .news_block_item .news_block_text {
    width: -webkit-calc(100% - 105px);
    width: calc(100% - 105px);
    font-size: 14px;
    line-height: 1.4;
  }
  .contacts .contacts_main {
    padding-left: 0;
  }
  .about_content_fix {
    width: 100%;
  }
  .video .galery_item .galery_item_img {
    height: 45%;
  }
  .video .galery_item .galery_item_info {
    padding-left: 15px;
    height: 55%;
  }
  .about_content .about_main_content_text {
    width: 80%;
  }
  .about_content .about_main_content_subtitle {
    width: 75%;
  }
  .zurnal_main {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .zurnal_main .zurnal_item {
    width: 52%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 768px) {
  .team_slider_wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sl_wrap .slick-next {
    right: -27px;
  }
  .sl_wrap .slick-prev {
    left: -21px;
  }
  .hidden_768 {
    display: none;
  }
  .topp_nav ul a {
    margin: 0 10px;
  }
  .search .search_inp {
    width: 395px;
  }
  .main_wrapper {
    max-width: 540px;
  }
  .front_page .header_content_wrapp {
    margin-top: 30px;
  }
  .front_page .header_content .header_content_text {
    height: 440px;
    margin-left: auto;
    margin-right: auto;
  }
  .top_block_wp .top_block_1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .top_block_wp .top_block_1 .top_block_1_img, .top_block_wp .top_block_1 .top_block_text {
    width: 50%;
    height: 100%;
  }
  .top_block_wp .top_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .top_block_wp .top_block_lef {
    width: 100%;
  }
  .top_block_wp .top_block_right {
    width: 100%;
    padding: 0;
  }
  .top_block_wp .top_block_all {
    margin-top: 10px;
    height: 245px;
  }
  .top_block_wp .top_block_second .top_block_lef {
    width: 100%;
  }
  .top_block_wp .top_block_second .top_block_lef .top_block_2 {
    height: 245px;
  }
  .top_block_wp .top_block_second .top_block_right {
    width: 100%;
  }
  .top_block_wp .top_block_second .top_block_right .top_block_1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .top_block_wp .top_block_second .top_block_right .top_block_1_img, .top_block_wp .top_block_second .top_block_right .top_block_text {
    width: 50%;
    height: 100%;
  }
  .news_block_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news_block_content .news_block_item {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer_inner .footer_social .footer_social_inner {
    height: 70%;
  }
  .contacts .contacts_main {
    width: 90%;
  }
  .about .top_block_all {
    height: 350px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  .about .top_block_all .top_block_1_img, .about .top_block_all .top_block_text {
    width: 100% !important;
  }
  .about .top_block_all .top_block_1_img {
    height: 50% !important;
  }
  .about .top_block_all .top_block_text {
    height: 50% !important;
  }
  .about header {
    height: 500px;
  }
  .about_bottom_block .about_bottom_block_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_content {
    margin-top: -200px;
  }
  .about_content .about_main_content_subtitle {
    width: 90%;
    font-size: 18px;
  }
  .about_content .about_main_content h1 {
    font-size: 38px;
    margin-bottom: 0;
  }
  .longrid .longrid_main_content {
    font-size: 14px;
  }
  .longrid .accent {
    font-size: 16px;
  }
  .galery_item {
    width: 80%;
    margin-left: 10%;
    height: 200px;
  }
  .popup_wrapper .popup_inner {
    padding: 40px;
    width: 500px;
    height: 220px;
    top: -webkit-calc(50vh - 110px);
    top: calc(50vh - 110px);
    left: -webkit-calc(50% - 250px);
    left: calc(50% - 250px);
  }
  .about_content .about_main_content_text {
    width: 80%;
  }
  .zurnal_main .zurnal_item {
    width: 70%;
  }
}

@media only screen and (max-width: 580px) {
  .team_slider_hash ul {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about_content .about_main_content h1 {
    font-size: 30px;
  }
  .about_content .about_main_content_text {
    font-size: 14px;
  }
  .about_content .about_main_content_subtitle {
    font-size: 16px;
  }
  .main_wrapper {
    max-width: 400px;
  }
  .footer_m_wrapp {
    max-width: 100%;
  }
  .search .search_inp {
    width: 255px;
  }
  .front_page .header_content .header_content_main_text {
    width: 380px;
    left: -93px;
  }
  .front_page .header_content .header_content_main_text h1 {
    font-size: 32px;
  }
  .top_block_wp .top_block_1 .top_block_1_img, .top_block_wp .top_block_2 .top_block_1_img, .top_block_wp .top_block_second .top_block_lef .top_block_2 .top_block_1_img, .top_block_wp .top_block_second .top_block_right .top_block_1_img {
    width: 40%;
  }
  .top_block_wp .top_block_1 .top_block_text, .top_block_wp .top_block_2 .top_block_text, .top_block_wp .top_block_second .top_block_lef .top_block_2 .top_block_text, .top_block_wp .top_block_second .top_block_right .top_block_text {
    width: 60%;
    padding: 15px;
  }
  .footer_inner {
    padding: 40px 20px;
  }
  .footer_inner .footer_block {
    margin-right: 30px;
  }
  .footer_inner .footer_social .footer_social_inner {
    height: 100%;
    max-height: 200px;
  }
  .contacts .contacts_main {
    width: 100%;
  }
  .contacts .contacts_item {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .about .top_block_all .top_block_1_img {
    height: 40% !important;
  }
  .about .top_block_all .top_block_text {
    height: 60% !important;
  }
  .about_content_fix .top_block_text p {
    line-height: 1.2;
  }
  .galery_item {
    width: 100%;
    margin-left: 0;
  }
  .popup_wrapper .popup_inner {
    left: -webkit-calc(50% - 150px);
    left: calc(50% - 150px);
    top: -webkit-calc(50% - 140px);
    top: calc(50% - 140px);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: top center;
    padding: 50px 20px;
    width: 300px;
    height: 280px;
  }
  .popup_wrapper .popup_close {
    right: 20px;
  }
  .popup_wrapper .popup_text {
    width: 100%;
    font-size: 14px;
  }
  .popup_wrapper form button {
    margin-left: 0;
    margin-top: 20px;
  }
  .about_content .about_main_content_text {
    width: 100%;
  }
  .zurnal_main .zurnal_item {
    width: 90%;
  }
}

@media only screen and (max-width: 440px) {
  .main_wrapper {
    max-width: 300px;
  }
  .footer_m_wrapp {
    max-width: 100%;
  }
  .search .search_form button {
    right: -8px;
  }
  .search .search_inp {
    padding-right: 26px;
    width: 165px;
    right: -webkit-calc(100% - 15px);
    right: calc(100% - 15px);
  }
  .topp_nav ul a {
    font-size: 12px;
    margin: 0 4px;
  }
  .top_block_wp .top_block_all {
    height: 350px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .top_block_wp .top_block_all .top_block_1_img, .top_block_wp .top_block_all .top_block_text {
    width: 100% !important;
  }
  .top_block_wp .top_block_all .top_block_1_img {
    height: 40% !important;
  }
  .top_block_wp .top_block_all .top_block_text {
    height: 60% !important;
  }
  .footer_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .footer_inner .footer_block {
    margin-top: 30px;
  }
  .footer_inner .footer_social {
    position: absolute;
    right: 20px;
    top: 60px;
    height: 180px;
  }
  .front_page .header_content .header_content_text_inner {
    width: 170px;
  }
  .front_page .header_content .header_content_main_text {
    top: -webkit-calc(50% - 150px);
    top: calc(50% - 150px);
    padding-bottom: 20px;
    left: -66px;
    background-color: #fff;
    width: 300px;
  }
  .front_page .header_content .header_content_main_text h1 {
    font-size: 26px;
  }
  .contacts .contacts_main {
    margin-bottom: 40px;
    margin-top: -20px;
  }
  .contacts .contacts_item {
    font-size: 14px;
  }
  .about_content .about_main_content h1 {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about_content .about_main_content_subtitle {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .longrid .longrid_block_info {
    width: 100%;
    text-align: center;
  }
  .longrid .longrid_block_info > div {
    margin-top: 10px;
  }
  .longrid .longrid_block_info > div:first-child {
    margin-top: 0;
  }
  .longrid .longrid_block_info span {
    display: block;
  }
  .longrid .longrid_block_info .red:after {
    display: none;
  }
  .longrid .longrid_main_content {
    font-size: 13px;
  }
  .longrid .longrid_block_left_red:before, .longrid .longrid_block_right_red:before {
    display: none;
  }
  .longrid .accent {
    font-size: 15px;
  }
  .longrid .longrid_block_images {
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .longrid .longrid_block_images .longrid_block_img {
    width: 100%;
    margin-bottom: 20px;
  }
  .longrid .team_slider_hash a {
    font-size: 14px;
    padding: 5px 10px;
  }
  .sl_wrap {
    width: 100%;
  }
  .zurnal_main .zurnal_item {
    width: 100%;
  }
}
