@import url(../libs/slick/slick-theme.css);
@import url(../libs/slick/slick.css);
@font-face {
  font-family: 'roboto-reg';
  src: url("../fonts/Roboto-regular/Roboto-Regular.eot") format("embedded-opentype");
  src: url("../fonts/Roboto-regular/Roboto-Regular.ttf") format("truetype");
  src: url("../fonts/Roboto-regular/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robot-bold';
  src: url("../fonts/Roboto-bold/Roboto-Bold.eot") format("embedded-opentype");
  src: url("../fonts/Roboto-bold/Roboto-Bold.ttf") format("truetype");
  src: url("../fonts/Roboto-bold/Roboto-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'robot-light';
  src: url("../fonts/Roboto-light/Roboto-Light.eot") format("embedded-opentype");
  src: url("../fonts/Roboto-light/Roboto-Light.ttf") format("truetype");
  src: url("../fonts/Roboto-light/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'openSansLight';
  src: url("../fonts/OpenSansLight/opensanslight.eot") format("embedded-opentype");
  src: url("../fonts/OpenSansLight/opensanslight.ttf") format("truetype");
  src: url("../fonts/OpenSansLight/opensanslight.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'openSans';
  src: url("../fonts/OpenSansReg/opensans.eot") format("embedded-opentype");
  src: url("../fonts/OpenSansReg/opensans.ttf") format("truetype");
  src: url("../fonts/OpenSansReg/opensans.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000;
}

i {
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold {
  font-weight: bold;
}

.show_768 {
  display: none !important;
}

.hide_768_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.red {
  color: #f72a38;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

button {
  background: none;
  outline: none;
  border: none;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "openSansLight", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #8f9192;
  color: #000;
}

body input, body textarea {
  border: #666 1px solid;
  outline: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}

body input:required:valid, body textarea:required:valid {
  border-color: green;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.max {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.overflow {
  overflow: hidden !important;
}

.img_responsive {
  display: block;
  width: 100%;
  height: auto;
}

.slash {
  display: none;
}

.clearfix {
  clear: both;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.text-center {
  text-align: center;
}

b, strong {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.mnu {
  background-color: #f4f5f3;
  width: 390px;
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}

.mnu .mnu_inside {
  position: relative;
  height: 100vh;
  width: 100%;
}

.mnu .toggler {
  position: absolute;
  top: 40px;
  left: 60px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.mnu .toggler:hover span {
  background-color: #d6b31b;
}

.mnu ul {
  padding-top: -webkit-calc(50vh - 160px);
  padding-top: calc(50vh - 160px);
  margin-left: 60px;
}

.mnu a {
  display: table;
  font-size: 25px;
  font-family: "robot-bold", sans-serif;
  margin: 10px 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 3px solid transparent;
}

.mnu a:hover {
  color: #ddbb25;
  border-color: #ddbb25;
}

.mnu.mnu_open {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../img/bg_headr.jpg);
  background-position: top center;
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
}

header .header_description {
  font-size: 20px;
  line-height: 20px;
  margin-top: 10px;
}

header .header_text {
  padding-top: -webkit-calc(50vh - 128px);
  padding-top: calc(50vh - 128px);
}

.arrow_scroll {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  display: block;
  width: 64px;
  height: 36px;
  position: absolute;
  bottom: 90px;
  left: -webkit-calc(50% - 32px);
  left: calc(50% - 32px);
  cursor: pointer;
}

.arrow_scroll:hover span {
  background-color: #ddbb25;
}

.arrow_scroll span {
  display: block;
  width: 45px;
  height: 3px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  -webkit-transform: rotate(45deg) translate(5px, 14px);
      -ms-transform: rotate(45deg) translate(5px, 14px);
          transform: rotate(45deg) translate(5px, 14px);
}

.arrow_scroll span:first-child {
  -webkit-transform: rotate(-45deg) translate(6px, 28px);
      -ms-transform: rotate(-45deg) translate(6px, 28px);
          transform: rotate(-45deg) translate(6px, 28px);
}

.fancy_container {
  display: none;
}

.toggler {
  width: 33px;
  height: 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toggler:hover {
  cursor: pointer;
}

.toggler span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.toggler.active span {
  background-color: #ddbb25;
}

.toggler.active span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
      -ms-transform: rotate(-45deg) translate(-5px, 4px);
          transform: rotate(-45deg) translate(-5px, 4px);
}

.toggler.active span:nth-child(2) {
  opacity: 0;
}

.toggler.active span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-7px, -7px);
      -ms-transform: rotate(45deg) translate(-7px, -7px);
          transform: rotate(45deg) translate(-7px, -7px);
}

.top_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 110px 0 110px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.top_inner .logo {
  width: 160px;
  margin-right: -35px;
}

.top_inner .phone a {
  color: #fff;
  font-size: 17px;
  font-family: "robot-bold", sans-serif;
}

.top.top_fixed {
  position: fixed;
  z-index: 12;
  width: 100%;
  margin-top: -20px;
}

.top.top_fixed .top_inner {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.top.top_fixed .menu span {
  background-color: #000;
}

.top.top_fixed .phone a {
  color: #000;
}

.top.top_fixed .logo {
  display: none;
}

.main_title {
  font-size: 60px;
  line-height: 64px;
  font-family: "robot-bold", sans-serif;
}

.main_title span {
  display: block;
}

.title_h2 {
  font-size: 38px;
  line-height: 38px;
  font-family: "robot-bold", sans-serif;
}

.title_h2 span {
  display: block;
}

.sec_2_slider_buttons {
  width: 280px;
  margin-left: -10px;
  margin-top: 20px;
  position: relative;
  height: 3px;
  background-color: #ddbb25;
}

.sec_2_slider_buttons span {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -23px;
  left: -50px;
  border: 3px solid #ddbb25;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  background-image: url(../img/slider_arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.sec_2_slider_buttons span:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.sec_2_slider_buttons .slider_prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sec_2_slider_buttons .slider_next {
  left: auto;
  right: -50px;
}

.section_2 {
  position: relative;
  background-image: url(../img/sec_2_bg.png);
  -webkit-background-size: 70% 70%;
          background-size: 70%;
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 110px;
  padding-bottom: 210px;
}

.section_2 .section_2_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_2 .section_2_left, .section_2 .section_2_right {
  width: 50%;
}

.section_2 .section_2_left {
  padding-right: 50px;
}

.section_2 .section_2_description {
  padding-left: 35px;
}

.section_2 .section_2_description p {
  color: #272727;
  margin: 20px 0;
  line-height: 1.5;
}

.section_2 .section_2_description ul {
  padding-left: 40px;
}

.section_2 .section_2_description li {
  color: #272727;
  position: relative;
  line-height: 18px;
}

.section_2 .section_2_description li:before {
  position: absolute;
  left: -16px;
  top: 4px;
  font-size: 22px;
  color: #ddbb25;
  content: '*';
}

.section_2 .sec_2_slider_wrap {
  width: 260px;
  margin: 0 auto;
}

.section_2 .sec_2_slider_wrap .slick-arrow {
  display: none !important;
}

.section_2 .section_2_2 {
  margin-top: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_2 .section_2_2 .section_2_description {
  width: 90%;
  margin-left: auto;
  margin-top: 10px;
  padding-left: 0;
  padding-right: 35px;
}

.section_2 .section_2_2 .section_2_2_left, .section_2 .section_2_2 .section_2_2_right {
  width: 50%;
}

.section_2 .section_2_2 .section_2_2_right {
  text-align: right;
}

.section_2_line {
  height: 3px;
  width: -webkit-calc((100% - 1240px)/2);
  width: calc((100% - 1240px)/2);
  background-color: #ddbb25;
  position: absolute;
  top: 50vh;
  left: 0;
}

.section_2_right_line {
  left: auto;
  right: 0;
}

.section_2_line.section_2_line_fixed {
  position: fixed;
  z-index: 5;
}

.section_3 {
  background-color: #d2d2d2;
  padding: 80px 0;
  background-image: url(../img/sec_3_bg.png);
  -webkit-background-size: 380px 380px;
          background-size: 380px;
  background-repeat: no-repeat;
  background-position: 100% 90%;
  position: relative;
}

.section_3:before, .section_3:after {
  position: absolute;
  padding-top: 100px;
  bottom: -299px;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url(../img/after_bg.png);
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  content: '';
}

.section_3:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -300px;
}

.section_3 .sec_2_slider_buttons {
  display: none;
}

.section_3 h2 {
  text-align: center;
  margin-bottom: 35px;
}

.section_3 .section_3_slider_item {
  width: 500px;
  margin: 0 -34px;
  position: relative;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.section_3 .section_3_slider_item p {
  font-size: 30px;
  font-family: "robot-bold", sans-serif;
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: 100%;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.section_3 .section_3_slider_item.slick-center {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.section_3 .section_3_slider_item.slick-center p {
  font-size: 25px;
  bottom: 60px;
}

.section_3 .section_3_slider {
  margin-left: -40px;
  margin-right: -40px;
  margin-bottom: 0;
}

.section_3 .section_3_slider .slick-prev {
  z-index: 3;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  width: 40%;
  height: 100%;
  left: -45px;
  top: 0;
  opacity: 0;
}

.section_3 .section_3_slider .slick-next {
  z-index: 3;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  width: 40%;
  height: 100%;
  right: -45px;
  top: 0;
  opacity: 0;
}

.section_3 .section_3_slider .slick-dots {
  bottom: 25px;
}

.section_3 .section_3_slider .slick-dots li {
  margin: 0 8px;
}

.section_3 .section_3_slider .slick-dots .slick-active button:before {
  color: #ddbb25;
  opacity: 1;
}

.section_3 .section_3_slider .slick-dots li button:before {
  font-size: 18px;
  color: #fff;
  opacity: .35;
}

.section_3 .section_3_description {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  text-align: center;
}

.section_3 .section_3_description p {
  color: #272727;
}

.section_3 .section_3_description h3 {
  font-size: 34px;
  font-family: "robot-bold", sans-serif;
  margin-bottom: 30px;
}

.section_3 .form-inline {
  margin-top: 40px;
  margin-bottom: 20px;
}

.form-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-inline input, .form-inline button {
  display: block;
  width: 270px;
  height: 46px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  padding: 0 20px;
  margin: 0 20px;
  border: 3px solid #ddbb25;
  background: transparent;
  font-family: "openSans", sans-serif;
}

.form-inline button {
  background-color: #ddbb25;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  line-height: 1;
}

.form-inline button:hover {
  opacity: .7;
}

.section_4 {
  padding-top: 170px;
  background-image: url(../img/img_bg4.png);
  -webkit-background-size: 50% 50%;
          background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.section_4 .section_4_ttitle {
  text-align: center;
  margin-bottom: 80px;
}

.section_4 .section_4_ttitle p {
  width: 90%;
  margin: 30px auto 60px auto;
}

.section_4 .working_map_item {
  width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section_4 .working_map_img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  position: relative;
}

.section_4 .working_map_img img {
  position: absolute;
}

.section_4 .working_map_img:before {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -95px;
  right: 0;
  background-image: url(../img/map_arrow.png);
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
}

.section_4 .working_map_item.map_open .working_map_img:before {
  bottom: -105px;
  right: 15px;
  -webkit-transform: rotateZ(15deg);
      -ms-transform: rotate(15deg);
          transform: rotateZ(15deg);
}

.section_4 .working_map_1, .section_4 .working_map_2 {
  height: 330px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_4 .working_map_item_2_1, .section_4 .working_map_item_2_2 {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -130px;
}

.section_4 .working_map_item_2_1_margin {
  margin-top: -20px;
}

.section_4 .working_map_2 {
  height: 150px;
  margin-top: 70px;
  text-align: right;
  padding-bottom: 50px;
}

.section_4 .working_map_2 .working_map_item_12 .working_map_img img {
  position: static;
}

.section_4 .working_map_2 .working_map_item .working_map_img {
  margin-left: 20px;
  margin-right: 0;
}

.section_4 .working_map_2 .working_map_item .working_map_botton {
  margin-left: auto;
}

.section_4 .working_map_2 .working_map_item.working_map_item .working_map_img:before {
  bottom: auto;
  top: -10px;
  right: -90px;
  -webkit-transform: rotateY(0deg) rotateZ(-80deg);
          transform: rotateY(0deg) rotateZ(-80deg);
}

.section_4 .working_map_2 .working_map_item.working_map_item_12 .working_map_img:before {
  display: none;
}

.section_4 .working_map_descriptioon {
  width: -webkit-calc(100% - 170px);
  width: calc(100% - 170px);
}

.section_4 .working_map_title {
  font-size: 20px;
  letter-spacing: -0.53px;
  font-family: "openSans", sans-serif;
  margin-bottom: 5px;
  margin-top: 15px;
}

.section_4 .working_map_botton {
  width: 170px;
  height: 32px;
  background-color: #ddbb25;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  color: #fff;
  font-family: "openSans", sans-serif;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin-top: 20px;
}

.section_4 .working_map_botton:hover {
  opacity: .7;
}

.section_4 .map_toggle {
  display: none;
}

.section_4 .working_map_item_12 .working_map_img:before {
  bottom: -75px;
  right: -20px;
  -webkit-transform: rotateY(180deg) rotateZ(100deg);
          transform: rotateY(180deg) rotateZ(100deg);
}

.section_4 .working_map_item_12.map_open .working_map_img:before {
  -webkit-transform: rotateY(180deg) rotateZ(80deg);
          transform: rotateY(180deg) rotateZ(80deg);
  bottom: -100px;
  right: -5px;
}

.section_4 .section_4_slider_wrap {
  height: 550px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_4 .section_4_slider_wrap .sec_2_slider_buttons {
  margin-left: auto;
  margin-right: auto;
}

.section_4 .section_4_slider_wrap .section_4_slider {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.section_4 .section_4_slider_wrap .section_4_slider .slick-arrow {
  display: none !important;
}

.section_4 .section_4_slider_wrap .title_h2 {
  line-height: 38px;
  margin-bottom: 30px;
}

.section_4 .section_4_slider_wrap p {
  margin: 10px 0;
  padding-left: 35px;
}

.section_4 .section_4_slider_wrap .section_4_slider_left {
  width: 55%;
}

.section_4 .section_4_slider_wrap .section_4_slider_right {
  width: 45%;
}

.section_5 {
  padding-top: 100px;
  padding-bottom: 140px;
  background-image: url(../img/sec_5_bg.png);
  -webkit-background-size: 50% 50%;
          background-size: 50%;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.section_5 .section_5_title {
  text-align: center;
  margin-bottom: 35px;
}

.section_5 .section_5_title .title_h2 {
  margin-bottom: 15px;
}

.section_5 .partners_img {
  padding: 0 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_5 .partners_img > .partners_img_item {
  width: 18%;
  margin: 15px 1%;
}

.section_5 .partners_img > .partners_img_item .partners_img_item_img {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_5 .partners_img > .partners_img_item img {
  display: block;
  width: 100%;
  height: auto;
}

.section_contact {
  background-color: #D2D2D2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section_contact .section_contact_left, .section_contact .section_contact_right {
  width: 50%;
}

.section_contact .section_contact_left {
  background-color: #fff;
}

.section_contact .section_contact_right {
  padding-top: 110px;
  padding-left: 70px;
  padding-bottom: 80px;
}

.section_contact .section_contact_right .title_h2 {
  text-align: center;
  margin-bottom: 10px;
}

.section_contact .section_contact_right .form-inline {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 85px;
}

.section_contact .section_contact_right input, .section_contact .section_contact_right button {
  width: 230px;
  margin: 0 10px;
}

.section_contact .section_contact_right input:first-child {
  margin-left: 0;
}

.section_contact .contacts_item_title {
  font-size: 25px;
  font-family: "robot-bold", sans-serif;
  margin-bottom: 20px;
}

.section_contact .contacts_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section_contact .contacts_items .adress {
  width: 220px;
  margin-right: 15px;
}

.section_contact .contacts_item a {
  display: block;
}

.section_contact .contacts_item a:last-child {
  margin-bottom: 0;
}

.section_contact .contacts_item_contact {
  margin-right: 85px;
}

.footer {
  background-color: #323232;
  padding: 45px;
  text-align: center;
}

.footer li {
  display: inline-block;
}

.footer a {
  color: #fff;
  margin: 0 17px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer a:hover {
  color: #ddbb25;
}

.footer .footer_social {
  display: none;
}

.footer .footer_social .fill_svg {
  fill: #fff;
}

.footer .footer_social a:hover .fill_svg {
  fill: #ddbb25;
}

.footer .footer_social i {
  font-size: 22px;
}

@media only screen and (max-width: 1400px) {
  .top_inner {
    padding-left: 0;
    padding-right: 0;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1300px) {
  .container, .top.top_fixed .top_inner {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .top_inner {
    max-width: 1140px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .top_inner .logo {
    width: 130px;
  }
  .section_2 .section_2_left {
    margin-top: 60px;
  }
  .section_2_line {
    width: -webkit-calc((100% - 1140px)/2);
    width: calc((100% - 1140px)/2);
  }
  .main_title {
    font-size: 55px;
    line-height: 55px;
  }
  header .header_text {
    padding-top: -webkit-calc(50vh - 160px);
    padding-top: calc(50vh - 160px);
  }
  .section_contact .section_contact_right {
    padding-left: 40px;
  }
  .section_contact .contacts_item_contact {
    margin-right: 40px;
  }
  .section_3 .section_3_slider {
    margin-left: 20px;
    margin-right: 20px;
  }
  .section_3 .section_3_slider .slick-prev {
    left: -36px;
  }
  .section_3 .section_3_slider .slick-next {
    right: -36px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .top_inner {
    max-width: 960px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .title_h2 {
    font-size: 30px;
    line-height: 1.4;
  }
  .section_2 .section_2_2 .section_2_description p {
    margin: 15px 0;
  }
  .section_2 .section_2_2 .section_2_description p:first-child {
    margin-top: 20px;
  }
  .section_2_line {
    width: -webkit-calc((100% - 960px)/2);
    width: calc((100% - 960px)/2);
  }
  .section_4 .working_map_img {
    margin-right: 15px;
  }
  .section_4 .working_map_item {
    width: 48%;
  }
  .section_4 .working_map_2 .working_map_item.working_map_item .working_map_img:before {
    top: -10px;
  }
  .section_contact .contacts_items .adress {
    width: 150px;
  }
  .section_3 .section_3_slider .slick-prev {
    left: -40px;
    width: 42%;
  }
  .section_3 .section_3_slider .slick-next {
    right: -40px;
    width: 42%;
  }
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 12px;
  }
  .container {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
  }
  .top_inner {
    max-width: 740px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .section_2_line {
    width: -webkit-calc((100% - 740px)/2);
    width: calc((100% - 740px)/2);
  }
  .main_title {
    font-size: 48px;
  }
  .title_h2 {
    font-size: 26px;
    line-height: 1.2;
  }
  .section_2 {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .section_2 .sec_2_slider_wrap {
    width: 220px;
  }
  .section_2 .section_2_2 .section_2_description {
    width: 100%;
  }
  .sec_2_slider_buttons {
    width: 240px;
  }
  .section_3 {
    padding: 50px 0;
  }
  .section_3 .section_3_slider_item {
    margin: 0 -20px;
  }
  .section_3 .section_3_slider_item p {
    font-size: 22px;
  }
  .section_3 .section_3_description h3 {
    font-size: 30px;
  }
  .section_3 .section_3_slider .slick-prev {
    width: 40%;
    left: -23px;
  }
  .section_3 .section_3_slider .slick-next {
    width: 40%;
    right: -26px;
  }
  .section_3 .section_3_slider .slick-dots li {
    margin: 0 3px;
  }
  .section_3 .section_3_slider .slick-dots li button:before {
    font-size: 15px;
  }
  .section_4 .working_map_botton {
    width: 110px;
  }
  .section_4 .working_map_img {
    width: 140px;
    height: 135px;
  }
  .section_4 .working_map_descriptioon {
    width: -webkit-calc(100% - 160px);
    width: calc(100% - 160px);
  }
  .section_4 .working_map_2 .working_map_title {
    margin-top: 0;
  }
  .section_4 .working_map_2 .working_map_item.working_map_item .working_map_img:before {
    top: -50px;
    right: -95px;
  }
  .section_4 .section_4_slider_wrap {
    height: 450px;
    margin-top: -60px;
    margin-bottom: 20px;
  }
  .section_4 .section_4_slider_wrap .section_4_slider {
    width: 220px;
  }
  .form-inline input,
  .form-inline button {
    width: 220px;
  }
  .section_contact .contacts_items {
    padding-right: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section_contact .contacts_items .adress {
    width: 130px;
  }
  .section_contact .contacts_item a {
    margin-bottom: 10px;
  }
  .section_contact .contacts_item_title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .section_contact .section_contact_right {
    padding-left: 20px;
  }
  .section_contact .section_contact_right input, .section_contact .section_contact_right button {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .section_contact .section_contact_right .form-inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 768px) {
  .show_768 {
    display: block !important;
  }
  .hide_768_flex {
    display: none !important;
  }
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .top_inner {
    max-width: 100% !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .section_2_line {
    display: none;
  }
  .top_inner .logo {
    display: none;
  }
  header .header_text {
    text-align: center;
  }
  .section_2 {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .section_2 .section_2_left, .section_2 .section_2_right {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .section_2 .section_2_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section_2 .section_2_2 .section_2_2_left {
    width: 400px;
    margin-left: -200px;
  }
  .section_2 .section_2_2 .section_2_2_right {
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
  }
  .section_3 {
    padding: 50px 0;
  }
  .section_3 .section_3_slider_wrapp {
    position: relative;
    margin-left: 120px;
    margin-right: 120px;
  }
  .section_3 .sec_2_slider_buttons {
    width: -webkit-calc(100% + 35px);
    width: calc(100% + 35px);
    display: block;
    background: none;
    position: absolute;
    top: -webkit-calc(50% - 20px);
    top: calc(50% - 20px);
    left: -10px;
  }
  .section_3 .slick-arrow {
    display: none !important;
  }
  .section_3 .section_3_slider .slick-dots {
    bottom: 10px;
  }
  .section_3 .section_3_slider_item {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    margin: 0;
  }
  .section_3 .section_3_slider_item p {
    bottom: 40px;
  }
  .section_3 .section_3_slider {
    margin-left: 0;
    margin-right: 0;
  }
  .section_4 {
    padding-top: 110px;
  }
  .section_4 .show_768 {
    width: 48%;
  }
  .section_4 .show_768 .working_map_item {
    width: 100%;
  }
  .section_4 .show_768 .working_map_descriptioon {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .section_4 .working_map_2 .show_768 .working_map_descriptioon {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .section_4 .section_4_slider_wrap {
    height: auto;
    margin-top: 40px;
  }
  .section_4 .section_4_slider_wrap .section_4_slider_left {
    width: 100%;
  }
  .section_4 .section_4_slider_wrap .section_4_slider_right {
    display: none;
  }
  .section_4 .working_map_2 {
    margin-top: 50px;
  }
  .section_4 .working_map_1 {
    height: auto;
  }
  .section_4 .working_map_item_2_1, .section_4 .working_map_item_2_2 {
    margin-top: 0;
  }
  .section_4 .working_map_img {
    width: 90px;
    height: 90px;
  }
  .section_4 .working_map_img:before {
    display: none;
  }
  .section_4 .working_map_descriptioon {
    width: -webkit-calc(100% - 105px);
    width: calc(100% - 105px);
  }
  .section_contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section_contact .section_contact_left, .section_contact .section_contact_right {
    width: 100%;
  }
  .section_contact .section_contact_left {
    height: 300px;
  }
  .section_contact .section_contact_right {
    padding-right: 20px;
  }
  .section_contact .section_contact_right .form-inline {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section_contact .section_contact_right .form-group {
    margin: 0 10px;
  }
  .section_5 {
    padding-bottom: 100px;
  }
  .section_5 .partners_img {
    padding: 0 20px;
  }
  .footer a {
    margin: 0 7px;
  }
}

@media only screen and (max-width: 580px) {
  html {
    overflow-x: hidden;
  }
  .section_contact .contacts_item_contact {
    margin-right: 0;
  }
  .section_contact .contacts_item:last-child {
    display: none;
  }
  .main_title {
    font-size: 30px;
    line-height: 30px;
  }
  header .header_description {
    font-size: 14px;
  }
  .sec_2_slider_buttons {
    z-index: 1;
    margin-top: -140px;
    background-color: transparent;
  }
  .sec_2_slider_wrap:after {
    display: block;
    position: absolute;
    z-index: -1;
    margin-left: -10px;
    width: 240px;
    height: 3px;
    background-color: #ddbb25;
    content: '';
  }
  .section_2 {
    padding-top: 0;
    padding-bottom: 120px;
    -webkit-background-size: 150% 150%;
            background-size: 150%;
    background-position: 50px 0;
  }
  .section_2 .section_2_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 250px;
  }
  .section_2 .section_2_2 .section_2_2_left {
    margin-left: -600px;
  }
  .section_2 .section_2_2 .section_2_2_right {
    width: 100%;
    margin-top: -300px;
  }
  .section_3 .sec_2_slider_buttons {
    margin-top: 0;
    top: 50%;
    width: 100%;
    left: 10px;
  }
  .section_3 .sec_2_slider_buttons span {
    width: 40px;
    height: 40px;
  }
  .section_3 .section_3_slider .slick-dots {
    bottom: 10px;
  }
  .section_3 .section_3_slider_item p {
    font-size: 22px;
    bottom: 30px;
  }
  .section_3 .section_3_slider_wrapp {
    margin-right: 70px;
    margin-left: 70px;
  }
  .section_3 .form-inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section_3 .form-inline .form-group {
    margin-bottom: 15px;
  }
  .section_contact .section_contact_right input, .section_contact .section_contact_right button {
    width: 170px;
  }
  .section_4 .section_4_slider_wrap .title_h2 {
    line-height: 26px;
  }
  .section_4 .section_4_slider_wrap p {
    padding-left: 15px;
  }
  .section_4 .working_map_1, .section_4 .working_map_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .section_4 .working_map_2, .section_4 .working_map_title {
    margin-top: 0;
  }
  .section_4 .working_map_descriptioon {
    margin-top: 30px;
    width: -webkit-calc(100% - 60px) !important;
    width: calc(100% - 60px) !important;
  }
  .section_4 .show_768 {
    width: 100%;
  }
  .section_4 .show_768 .working_map_descriptioon {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .section_4 .working_map_item {
    width: 100%;
  }
  .section_4 .working_map_img:before {
    display: block;
  }
  .section_4 .working_map_item_1_1 .working_map_img {
    margin-left: -60px !important;
  }
  .section_4 .working_map_item_1_1 .working_map_img:before {
    width: 50px;
    height: 50px;
    right: 0 !important;
    bottom: -50px !important;
    -webkit-transform: rotateZ(30deg) !important;
        -ms-transform: rotate(30deg) !important;
            transform: rotateZ(30deg) !important;
  }
  .section_4 .show_768 .working_map_item_12 .working_map_img {
    margin-left: -60px !important;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 0 !important;
  }
  .section_4 .show_768 .working_map_item_12 .working_map_img:before {
    position: absolute !important;
    top: auto !important;
    right: 0 !important;
    bottom: -50px !important;
    display: block !important;
    width: 50px !important;
    height: 50px !important;
    background-image: url(../img/map_arrow.png);
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    right: 0 !important;
    bottom: -50px !important;
    -webkit-transform: rotateZ(30deg) !important;
        -ms-transform: rotate(30deg) !important;
            transform: rotateZ(30deg) !important;
    content: '';
  }
  .section_4 .show_768 .working_map_item_12 .working_map_descriptioon {
    text-align: left;
    margin-left: 20px;
  }
  .section_4 .show_768 .working_map_item_12 .working_map_descriptioon .working_map_botton {
    margin-right: auto;
    margin-left: 0;
  }
  .section_4 .working_map_item_12 .working_map_img {
    margin-right: -60px !important;
  }
  .section_4 .working_map_1 .show_768 .working_map_descriptioon {
    text-align: right;
    margin-right: 20px;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
  }
  .section_4 .working_map_1 .show_768 .working_map_img {
    margin-right: -60px !important;
  }
  .section_4 .working_map_1 .show_768 .working_map_img:before {
    width: 50px;
    height: 50px;
    right: 40px !important;
    bottom: -50px !important;
    -webkit-transform: rotateZ(-25deg) rotateY(180deg) !important;
            transform: rotateZ(-25deg) rotateY(180deg) !important;
  }
  .section_4 .working_map_1 .show_768 .working_map_botton {
    margin-left: auto;
  }
  .section_5 {
    background: none;
  }
  .section_5 .partners_img {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0;
  }
  .section_5 .partners_img_item {
    margin: 0 20px !important;
  }
  .title_h2 {
    font-size: 22px;
    line-height: 24px;
  }
  .footer {
    padding: 20px;
  }
  .footer .footer_nav {
    display: none;
  }
  .footer .footer_social {
    display: block;
  }
  .section_contact .section_contact_right {
    padding-top: 70px;
  }
}

@media only screen and (max-width: 420px) {
  .section_2 .section_2_2 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section_2 .section_2_2 .section_2_2_left {
    width: 230px;
    margin-left: -140px;
  }
  .section_2 .section_2_2 .section_2_description {
    padding-right: 15px;
    width: 80%;
  }
  .section_3 .section_3_slider_wrapp {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 380px) {
  .section_contact .section_contact_right input, .section_contact .section_contact_right button {
    width: 280px;
  }
  .section_contact .section_contact_right .form-inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
